table, th, td{
        border: solid 1px black;
        border-collapse: collapse;
        margin: 30px;
}
p{
        border: 2px powderblue;
        margin: 30px;
}
:any-link{
        margin: 30px;
}
address{
        margin: 30px;
}
button{
        margin: 30px;
}

tr:hover{
        background-color: aqua;
}